# Log Files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Compilation
build

# Dependencies
node_modules/

# NPM & Yarn related
.npm
.npmignore
*.tgz
.yarn-integrity

# Tests
coverage/
